@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alfa+Slab+One&family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alfa+Slab+One&family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alata&family=Alfa+Slab+One&family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-bg-color: hsl(0, 0%, 10%);
    --main-font-color: white;
    --red-font-color: hsl(0, 100%, 56%);
    --main-para-font-family: "Instrument Sans", sans-serif;
    --main-header-font-family: "Work Sans", sans-serif;
    --section-side-padding: 10rem;
     --body-bg-color: hsl(0, 0%, 10%);
    --main-font-color: white;
    --darker-red-font-color: hsl(0, 100%, 43%);
    --lighter-red-font-color: hsl(0, 100%, 44%);
    --main-para-font-family: "Instrument Sans", sans-serif;
    --main-header-font-family: "Work Sans", sans-serif;
    --section-side-padding: min(4%, 8rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: ala; */
}

body {
    background-color: var(--body-bg-color);
    color: var(--main-font-color);
    font-family: "Instrument Sans", sans-serif;
}

/* ------------ glass effect ------------ */
.glass {
    background-image: linear-gradient(40deg, hsla(0, 0%, 8%, .5), hsla(0, 0%, 48%, .2));
    backdrop-filter: blur(8px);
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, hsla(0, 0%, 50%, .1), transparent) 1;
    border-image-slice: 1;
}

/* ----------- for the floating balls ---------- */
.ball {
    position: absolute;
    border-radius: 50%;
    box-shadow: -10px 14px 28px hsla(0, 0%, 0%, .3);
    z-index: -1;
}
.ball.red {
    background-image: linear-gradient(70deg, hsl(0, 100%, 15%) 36%, hsl(0, 100%, 50%));
}
.ball.black {
    background-image: linear-gradient(70deg, black 36%, hsl(0, 0%, 24%));
}

/* -------------- */

.red-text {
    color: var(--darker-red-font-color);
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    margin-bottom: 4rem;
}

h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--red-font-color);
    width: 100px;
    height: 3px;
    border-radius: 8px;
    box-shadow: 0 0 14px red;
    margin-left: 10px;
}

button {
    padding: 12px 24px;
    background: none;
    border: 1px solid red;
    color: red; /* temp */
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    transition: all .5s ease-out;
}
button:hover {
    background-color: hsl(0, 100%, 40%);
    color: black;
    border-color: hsla(0, 0%, 70%, .7);
}

/* ========== HEADER ============= */

.menu {
    display: none;
}

nav .cancel {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem var(--section-side-padding);
    gap: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container img.logo  {
    width: 12rem;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #382222;
    padding: 11px 34px;
    border: 1px solid #C00000;
    border-radius: 2.8rem;
    width: 80%;
}

nav a {
    display: block;
    padding: 6px;
    color: var(--main-font-color);
    text-decoration: none;
}

a.curr {
    border-bottom: 3px solid var(--red-font-color);
}

.theme {
    cursor: pointer;
}


/* ============ footer ============ */

footer {
    border-top: 1px solid hsla(0, 0%, 70%, .3);
    padding: 0 var(--section-side-padding);
    margin-top: 12rem;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    border-bottom: 1px solid hsla(0, 0%, 60%, .2);
}

.follow-us {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.follow-us img, .about-company svg {
    width: 28px;
}

.about-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    padding-right: 5rem;
    color: hsl(0, 0%, 70%);
}

.about-company ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.about-company a {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
}

.with-icon li {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.no-icon span {
    font-size: 1.2rem;
}
.no-icon li {
    font-size: .9rem;
}

footer p {
    color: hsl(0, 0%, 70%);
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    font-size: .9rem;
}