@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alata&family=Alfa+Slab+One&family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alfa+Slab+One&family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alata&family=Alfa+Slab+One&family=Anton&family=Catamaran:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --body-bg-color: hsl(0, 0%, 10%);
    --main-font-color: white;
    --darker-red-font-color: hsl(0, 100%, 43%);
    --lighter-red-font-color: hsl(0, 100%, 44%);
    --main-para-font-family: "Instrument Sans", sans-serif;
    --main-header-font-family: "Work Sans", sans-serif;
    --section-side-padding: min(4%, 8rem);

    --stat-board-bg: hsl(0, 0%, 15%);
} */

/* ========== hero ================== */

section.hero-section {
    padding: 6rem 8%;
    position: relative;
}

/* ---------- the floating balls ----------- */
.hero-section .b1 {
    height: 300px;
    width: 300px;
    bottom: -2%;
    right: 12%;
}
.hero-section .b2 {
    height: 200px;
    width: 200px;
    top: -3%;
    left: 10%;
}
.hero-section .b3 {
    height: 100px;
    width: 100px;
    top: 6%;
    right: 5%;
    z-index: 1;
}
.hero-section .b4 {
    height: 40px;
    width: 40px;
    top: -2%;
    right: 14%;
}
.hero-section .b5 {
    height: 45px;
    width: 45px;
    top: 25%;
    left: 30%;
}

/* ---------- hero ----------- */

.hero {
    /* border-radius: 24px; */
    padding: 1.8rem;
    padding-top: 6rem;
    /* margin: 4rem min(4%, 6rem); */
    position: relative;
}

.hero h1 {
    font-family: Anton, sans-serif;
    font-size: 4.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: -20px;
    margin-bottom: 0;
}

.hero h1 .red-text {
    font-family: Anton, sans-serif;
}

.hero h3 {
    /* font-family: Anton, sans-serif; */
    font-weight: 100;
    letter-spacing: .02rem;
    padding-left: 1.5px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 60%;
    min-width: 34rem;
}

.hero-text * {
    transition: all .5s ease-out;
}

.hero-text p {
    font-size: 1.2rem;
    padding-bottom: 1.6rem;
    
}

.hero img {
    width: 31vw;
    min-width: 30rem;
    max-width: 33rem;
    position: absolute;
    bottom: 0;
    right: -22px;
    z-index: -1;
}

/* ============ with us section ============ */

section.wu-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 12px;
}

.wu-dashboard hr {
    border: none;
    border-left: 1px solid var(--border-color);
}

.wu-dash-container {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.comodities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3vw;
}

.como-cont {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.como-cont svg {
    width: 28px;
    height: auto;
}

.stats-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.stat {
    background-color: var(--stat-board-bg);
    padding: 1.6rem 1rem;
    border-radius: .8rem;
}

.stat.yrs {
    grid-column: 1 / 3;
}

.stat .big-num {
    font-size: 4.6rem;
    font-weight: 600;
    padding: 2px;
}

/* =========== TRAINERS SECTION ============ */

section.trainers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-side-padding);
}

.trainer-wrapper {
    width: 80%;
    display: flex;
    padding-bottom: 6rem;
    position: relative;
}
.trainer-wrapper.right {
    justify-content: right;
}
.trainer-wrapper.left {
    justify-content: left;
}

.trainer-card {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 70%;
    min-width: 600px;
}
.left .trainer-card {
    justify-content: end;
    text-align: end;
}

.trainer-text {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    max-width: 30rem;
    padding: 3rem 1.6rem;
}
.left .trainer-text {
    align-items: end;
}

.trainer-text h1 {
    margin-bottom: 0;
}
.left h1 {
    width: fit-content;
}

.trainer-text p {
    display: flex;
    gap: .8rem;
}

.trainer-text .quote {
    display: block;
    font-family: "Catamaran";
    font-size: 3.6rem;
    line-height: 0;
    padding-top: 20px;
}

.trainer {
    display: flex;
    /* justify-content: space-between; */
    gap: 4rem;
    letter-spacing: 2px;
    word-spacing:10px;
}

.trainer h3 {
    font-weight: 400;
}
.working-yrs {
    background-color: hsl(60, 98%, 48%);
    color: black;
    padding: 3px 8px;
    border-radius: 8px;
    word-spacing: 0;
    letter-spacing: 0;
}

.trainer-card img {
    position: absolute;
    z-index: -1;
    transition: all .8s ease-out;
}
.trainer-card:hover img {
    opacity: .8;
    scale: 1.08;
}
.right img {
    right: 0;
}
.left img {
    left: 0;
}

/* ------------ join-cta --------- */

.join-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
}

/* -------------for floating balls -------------- */

.first .b1 {
    height: 130px;
    width: 130px;
    left: 0;
    top: -30%;
}
.third .b2 {
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 0;
}

/* ============= store cta section ========== */

section.store-cta {
    display: flex;
    justify-content: center;
    background-image: url("../public/images/dark-wallpaper.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 4rem 0;
    margin: 3rem 0;
    position: relative;
}

.cta-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .7);
}

.cta-card {
    display: flex;
    max-width: 740px;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

.store-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .6rem;
}

.store-images img {
    opacity: .7;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 50%, .6);
}

.store-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    background-color: hsl(0, 0%,10%);
    padding: .6rem 1.2rem;
    border-radius: 8px;
}

.store-text h1 {
    margin: 0;
    font-size: 2.2rem;
    color: white;
}
.store-text h1::before {
    display: none;
}

.store-text p {
    color: hsl(0, 0%, 80%);
    font-size: .9rem;
}

.store-text a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.store-text button {
    width: 96%;
}

@media screen and (max-width: 760px) {

    /* ======== hero ========= */

    .hero-text {
        min-width: 0;
    }

    .hero h1 {
        font-size: 5rem;
        width: 18rem;
        line-height: 4rem;
        padding: 1.6rem 0 1rem 0;
    }
    .hero p {
        font-size: 1rem;
        width: 21rem;
    }

    /* ====== dashboard ======= */
    .wu-dash-container {
        flex-direction: column;
        align-items: center;
    }

    /* ========= trainers ====== */

    section.trainers-section {
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .trainer-wrapper {
        width: fit-content;
        padding-left: 0;
        padding-right: 0;
    }

    .trainer-card {
        width: 90vw;
        min-width: 400px;
    }


    /* ==== cta ========= */

    .cta-card {
        flex-wrap: wrap;
        width: min-content;
    }

    .store-text {
        height: 300px;
        padding-bottom: 1.4rem;
        align-items: center;
        text-align: center;
    }
}

@media screen and (width < 500px) {

    /* ====== hero ======== */

    .ball {
        scale: .8;
    }
    .hero-section .b1 {
        bottom: -12%;
        right: 0;
    }

    section.hero-section {
        padding: 2rem 2.5%;
    }

    .hero {
        padding: 3rem 1rem;
        overflow: hidden;
    }

    .hero h1 {
        font-size: 4rem;
        line-height: 3.2rem;
        width: min-content;
    }

    .hero img {
        right: -30%;
    }

    /* ======= with us ======= */

    .wu-dash-container svg {
        scale: .8;
    }

    .como-text {
        font-size: .9rem;
    }

    .stat .big-num {
        font-size: 4.4rem;
    }

    /* ======= trainers ========== */

    .trainer-wrapper {
        padding-bottom: 3.4rem;
    }

    .trainer-card {
        min-width: 0;
    }

    .trainer-text {
        padding: 1rem;
    }

    .right img {
        right: -25%;
        top: -15%;
    }
    .left img {
        left: -27%;
        top: -30%;
    }

    .trainer-card img {
        scale: .9;
    }
    
    .trainer-card h1 {
        font-size: 2rem;
    }

    .join-cta p {
        max-width: 25rem;
    }

    /* ====== store cta ========= */

    .store-images img {
        width: 45vw;
    }

    .store-text {
        height: 260px;
    }

    .store-text h1 {
        font-size: 2rem;
    }

}